<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portfolio | Login</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
        <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
        <link rel="stylesheet" href="css/queries/netbooks-tablets.css" type="text/css" media="screen and (max-width: 1007px)" />            
            
        <script type="text/javascript" src="js/html5.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
            
        <!--[if IE 7]><link rel="stylesheet" href="css/ie/ie7.css" type="text/css" media="screen"><![endif]-->
        <!--[if lt IE 7]><link rel="stylesheet" href="css/ie/ie6.css" type="text/css" media="screen"><![endif]-->
    </head>
    <body>
    	<div id="login">
    		<h1>Portfolio</h1>
    		<form id="loginform" action="" method="POST">
    			<TMPL_IF NAME="LOGINFAILED">
    				<p class="notify">Login failed.</p>
    			</TMPL_IF>
    			<label for="user">Username</label><input type="text" name="user" /><br />
    			<label for="password">Password</label><input type="password" name="password" /><br />
    			<input type="hidden" name="act" value="login" /><input type="hidden" name="loginrun" value="1" />
    			<input type="submit" value="submit" /> <a href="register.html">Need an account?</a>
    			<div style="clear:both"></div>
    		</form>
    		
    		<p align="center"><a href="hiprof.html">IF YOU'RE PROFESSOR DINDA CLICK HERE</a></p>
    	</div>
    </body>
</html>