<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portfolio | <tmpl_var name="title"></title>
        <meta charset="utf-8">
        <meta name="description" content="Stock portfolio manager">
        <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
        <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
        <link rel="stylesheet" href="css/queries/netbooks-tablets.css" type="text/css" media="screen and (max-width: 1007px)" />
            
        <script type="text/javascript" src="js/html5.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery.valid8.js"></script>
        <script>
        	$('#portfolioname').valid8('A name is required.');
        	$('#cashacct').valid8('A portfolio must be attached to a cash account.');
        </script>
            
        <!--[if IE 7]><link rel="stylesheet" href="css/ie/ie7.css" type="text/css" media="screen"><![endif]-->
        <!--[if lt IE 7]><link rel="stylesheet" href="css/ie/ie6.css" type="text/css" media="screen"><![endif]-->
    </head>
    <body>
    <TMPL_IF NAME="LOGINSCREEN">
    	<TMPL_IF NAME="REGISTERSCREEN">
    		<div id="login">
    			<h1>Portfolio : Register</h1>
    			<form id="regform" action="" method="POST">
    			    <TMPL_IF NAME="REGFAILED">
    			    	<p class="notify">Registration failed.</p>
    			    </TMPL_IF>
    			    <label for="firstname">First Name</label><input type="text" name="firstname" /><br />
    			    <label for="lastname">Last Name</label><input type="text" name="lastname" /><br />
    			    <label for="email">E-mail</label><input type="text" name="email" /><br />
    			    <label for="username">Username</label><input type="text" name="username" /><br />
    			    <label for="password">Password</label><input type="password" name="password" /><br />
    			    <input type="hidden" name="act" value="register" /><input type="hidden" name="adduserrun" value="1" />
    			    <input type="submit" value="submit" />
    			    <div style="clear:both"></div>
    			</form>
    		</div>
    	<TMPL_ELSE>
    		<div id="login">
    			<h1>Portfolio</h1>
    			<form id="loginform" action="" method="POST">
    				<TMPL_IF NAME="LOGINFAILED">
    					<p class="notify">Login failed.</p>
    				</TMPL_IF>
    				<label for="user">Username</label><input type="text" name="user" /><br />
    				<label for="password">Password</label><input type="password" name="password" /><br />
    				<input type="hidden" name="act" value="login" /><input type="hidden" name="loginrun" value="1" />
    				<input type="submit" value="submit" /> <a href="index.pl?act=register">Need an account?</a>
    				<div style="clear:both"></div>
    			</form>
    			
    			<p align="center"><a href="hiprof.html">IF YOU'RE PROFESSOR DINDA CLICK HERE</a></p>
    		</div>
    	</TMPL_IF>
    <TMPL_ELSE>
        <div id="header">
        	<h1><TMPL_VAR NAME="NAME">'s Portfolio</h1>
        	<div id="account">
        		<div id="acct-links">
        			<p class="username"><TMPL_VAR NAME="NAME"></p>
        			<p class="manage"><a href="index.pl?act=logout">logout</a></p>
        		</div>
        		<img width="70" height="70" src="images/userpic.png" />
        	</div>
        	<div style="clear: both"></div>
        </div>
        <ul id="navbar">
        	<li><a href="index.pl?act=overview">Overview</a></li>
        	<li><a href="index.pl?act=browse">Browse Stocks</a></li>
        	<li><a href="index.pl?act=portfoliolist">Portfolios</a>
        		<ul>
        			<li><a href="index.pl?act=portfolioadd">Create New</a></li>
        		</ul></li>
        	<li><a href="index.pl?act=cash">Cash Accounts</a>
        		<ul>
        			<li><a href="index.pl?act=cashacctadd">Add Cash Account</a></li>
        		</ul></li>
        	<li><a href="#">Trends</a></li>
        	<li><a href="#">Strategies</a></li>
        </ul>
        <div id="contentpane">
        <TMPL_IF NAME="JUSTLOGGEDIN">
        	<div id="quicklook">
        		<h2>Quick Look</h2>
        		<dl>
        			<dt>MSFT
        			<dd class="down">↓144
        			<dt>APPL
        			<dd class="up">↑500
        		</dl>
        		<div style="clear: both"></div>
        		<p><a href="#">See more symbol listings &raquo;</a><p>
        	</div>
        	<div id="hello">
        		<p class="welcome">Hello, <TMPL_VAR NAME="NAME"></p>
        		<div class="notice">
        			<div class="marker"><img src="images/error.png" /></div>
        			<p>You have new messages.</p>
        		</div>
        		<p>It seems there are things that you haven't done yet!</p>
        		<ul>
        			<li>Buy stocks</li>
        			<li>View your strategies</li>
        			<li>Recent trends</li>
        		</ul>
        	</div>
        </TMPL_IF>
        <TMPL_IF NAME="PORTFOLIOS">
        	<p><a href="index.pl?act=portfolioadd"><img src="images/add.png" /> Add New Portfolio</a></p>
        	<dl id="portfoliolist">
        	<TMPL_VAR NAME="PORTFOLIO_LISTING">
        	</dl>
        </TMPL_IF>
        <TMPL_IF NAME="CASH">
        	<TMPL_IF NAME="CASH_VIEW">
        		<TMPL_IF NAME="WITHDRAWOK">
        			<p class="notify">Withdrawal was a success.</p>
        		</TMPL_IF>
        		<TMPL_IF NAME="DEPOSITOK">
        			<p class="notify">Deposit was a success.</p>
        		</TMPL_IF>
        		<dl id="cashacctlist">
        			<dt><TMPL_VAR name="CASHACCTNAME"></dt>
        			<dd><TMPL_VAR name="CASHACCTVAL"></dd>
        		</dl>
        		<form class="left">
        			<h2>Deposit to Account</h2>
        			<input type="text" name="amt" /><input type="hidden" name="depositrun" value="1" /><input type="submit" />
        		</form>
        		<form class="right">
        			<h2>Withdraw from Account</h2>
        			<input type="text" name="amt" /><input type="hidden" name="withdrawrun" value="1" /><input type="submit" />
        		</form>
        	<TMPL_ELSE>
        		<p><a href="index.pl?act=cashadd"><img src="images/add.png" /> Add New Cash Account</a></p>
        		<dl id="cashacctlist">
        		<TMPL_VAR name="CASHLIST_OUT">
        		</dl>
        	</TMPL_IF>
        </TMPL_IF>
        <TMPL_IF NAME="CASHACCTADD">
        	<TMPL_IF NAME="CASHACCTADDOK">
        		<p class="notify">Added cash account.</p>
        	</TMPL_IF>
        	<form id="addcashacct">
        		<label for="name">Account Name</label><input type="text" name="name" /><br />
        		<label for="startval">Starting Value</label><input type="text" name="startval" /><br />
        		<input type="hidden" name="cashacctaddrun" value="1" />
        		<input type="submit" />
        	</form>
        </TMPL_IF>
        <TMPL_IF NAME="BROWSE">
        	<TMPL_IF NAME="STOCK">
        		<div id="stockinfo">
        			<h2><TMPL_VAR NAME="STOCK_SHORT">: <TMPL_VAR NAME="STOCKNAME"></h2>
        			<dl id="attr">
        				<dt>Last Closing Price</dt>
        				<dd>0</dd>
        				<dt>Last Opening Price</dt>
        				<dd>0</dd>
        				<dt>Highest Price</dt>
        				<dd>0</dd>
        				<dt>Lowest Price</dt>
        				<dd>0</dd>
        			</dl>
        		</div>
        	<TMPL_ELSE>
        		<TMPL_VAR NAME="BROWSE_OUT">
        	</TMPL_IF>
        </TMPL_IF>
        <TMPL_IF NAME="PORTFOLIO_ADD">
        	<h2>Add New Portfolio</h2>
        	<form id="addfolio">
        		<label for="name">Name</label><input type="text" name="name" id="portfolioname" /><br />
        		<label for="cash">Cash Account</label><select name="cash" id="cashacct">
        												<option value="$id">$name</option>
        											  </select><br />
        		<input type="hidden" name="act" value="addportfolio" />
        		<input type="hidden" name="createrun" value="1" />
        		<input type="submit" disabled="true" />
        	</form>
        </TMPL_IF>
        </div>
        <div style="clear: both"></div>
        <div id="footer">
        	Created by C. Brown and C. Ho, 2010
        </div>
    </TMPL_IF>
    </body>
</html>
